#!/bin/bash

# We use incognito mode so things aren't saved by default
# We also set the user directory to /tmp so if anything manages to get saved a reboot will wipe
export DISPLAY=:0.0
xrandr --dpi 96
google-chrome --incognito --no-first-run --kiosk --disable-sync --disable-notifications -user-data-dir=/tmp/chrome {{ chrome_homepage }}
